KinshipFormatter/bin/Debug/ACKinshipFormatter.dll
KinshipFormatter/obj/Debug/ACKinshipFormatter.csproj.FileListAbsolute.txt
KinshipFormatter/obj/Debug/ACKinshipFormatter.csproj.GenerateResource.Cache
KinshipFormatter/obj/Debug/ACKinshipFormatter.csprojResolveAssemblyReference.cache
KinshipFormatter/obj/Debug/ACKinshipFormatter.dll
KinshipFormatter/obj/Debug/ACKinshipFormatter.Properties.Resources.resources
KinshipFormatter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KinshipFormatter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KinshipFormatter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KinshipFormatter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KinshipFormatterTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KinshipFormatterTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KinshipFormatterTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KinshipFormatterTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatter.dll
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatterTestApp.exe
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatterTestApp.exe.config
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatterTestApp.vshost.exe
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatterTestApp.vshost.exe.config
KinshipFormatterTestApp/bin/Debug/ACKinshipFormatterTestApp.vshost.exe.manifest
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.csproj.FileListAbsolute.txt
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.csproj.GenerateResource.Cache
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.csprojResolveAssemblyReference.cache
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.exe
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.g.resources
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp.Properties.Resources.resources
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp_MarkupCompile.cache
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp_MarkupCompile.i.cache
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp_MarkupCompile.i.lref
KinshipFormatterTestApp/obj/Debug/ACKinshipFormatterTestApp_MarkupCompile.lref
KinshipFormatterTestApp/obj/Debug/App.g.cs
KinshipFormatterTestApp/obj/Debug/App.g.i.cs
KinshipFormatterTestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KinshipFormatterTestApp/obj/Debug/MainWindow.baml
KinshipFormatterTestApp/obj/Debug/MainWindow.g.cs
KinshipFormatterTestApp/obj/Debug/MainWindow.g.i.cs
KinshipFormatterTestApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KinshipFormatterTestApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KinshipFormatterTestApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
